.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373d41;
  .title {
    font-size: 28px;
    background-color: #373d41;
    color: #fff;
  }
  .btn {
    margin-right: 15px;
  }
}

.home-container {
  // 二级子菜单背景色
  // .ant-menu-inline.ant-menu-sub {
  //   // background-color: greenyellow;
  // }
  height: 100vh;
  // 一级子菜单背景色
  .ant-menu {
    background-color: #333744;
    color: #fff;
    //二级子菜单 文字颜色
    .ant-menu-item > a {
      color: green;
    }
    .ant-menu-item .ant-menu-item-active {
      color: red;
    }
  }
}
